{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/transform-runtime", {
      "helpers": true,
      "corejs": 2,
      "regenerator": true
    }],
    ["import", {"libraryName": "antd", "style": true}],
    "transform-flow-strip-types"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "compact": true,
  "comments": true,
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env",
        ["@babel/preset-react", {"development": true}]
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        ["import", {"libraryName": "antd", "style": true}],
        ["import-expander", {
          "condition": "^react-virtualized",
          "template": "{source}/dist/es/{name}"
        }],
        "lodash"
      ]
    }
  }
}
